/* 全局公共样式 */

/* 清除默认样式 */
view, text, image, input, textarea, button {
  box-sizing: border-box;
}

/* 解决 H5 输入框无法聚焦的问题 */
input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

/* 按钮重置 */
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  line-height: inherit;
}

button::after {
  border: none;
}

/* 安全区域 */
.safe-area-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
